<div class="card">
<div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita fugiat facilis ex sunt hic molestias tempore beatae eligendi, tempora perspiciatis quo dolor quibusdam vero, velit porro neque? Dolores, impedit quos.</p>
</div>
</div>