<div class="jumbotron mt-4">
    <img src="/img/tasks.png" class="img-fluid" alt="Responsive image">
<ul></ul>
    <h1 class="d-flex justify-content-center">SEO Tasks Tool by Russ</h1>
    <p class="lead">A multitasks tool that let you create a non-email-validation-needed account, you just need to open an account and start to add/remove tasks. This tool is also part of Russ's CV if you're a headhunter this project will show you how I work with JavaScript.</p>
    <p class="lead">All data contained on this website has to be used as example, I keep improving my knowledge on Technical SEO and JavaScript, so if you see an error it could be because I was learning, but today I'm a better professional guy.</p>
  <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
</div>
<ul></ul>

<div class="row mx-auto">

<div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header"><h4>Create</h4></div>
  <div class="card-body">
    <p class="card-text">Add all your unlimited tasks, we will keep it save for 24/7/35. Cloud service 100% free.</p>
  </div>

</div>
<ul></ul>

<div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header"><h4>Add</h4></div>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<ul></ul>
<div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header"><h4>Remove</h4></div>
  <div class="card-body">
    <p class="card-text">You can remove your note any time, we don't keep any record on our database.</p>
  </div>
</div>


